{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projets/creerProjet.css') }}" media="all"/>
{% endblock %}
{% block contenu %}
    <h2>Création d'un nouveau projet</h2>
    <div id="wrapper_creation_projet" class="flex flex_aic flex_sa">
        <form id="form_creation_projet" action="" method="post" class="flex flex_col flex_sa flex_aic">
            <div class="flex fullwidth marges">
                <label for="project_name" class="flex flex1 flex_end pr">Nom :</label>
                <input type="text" class="flex flex1" placeholder="Nom du projet" name="project_name" required>
            </div>
            <div class="flex fullwidth marges">
                <label for="project_creation_datex" class="flex flex1 flex_end pr">   Date de création du projet :</label>
                <input type="date" class="flex flex1" placeholder="jj/mm/aaaa" id="project_creation_datex" name="project_creation_date" value="{{ "now"|date("Y-m-d") }}" required>
            </div>
            <div class="separator marges"></div>
            <div class="flex flex_col fullwidth marges">
                <h5 class="flex fullwidth flex_aic"><span class="fas fa-user-tag"></span>Selection du client</h5>
                <div id="selection_client">
                    <div class="row d-flex justify-content-between">
                        <input type="text" class="col-8" placeholder="Recherche..." id="recherche_clients" oninput="on_recherche_client_input()">
                        <div class="btn_vert" id="btn_choix_client"><a href="{{ path('creerNouveauContact') }}" class="col-3" style="margin-top: 0" target="_blank" id="creer_client">Créer un client</a></div>
                    </div>
                    <div id="liste_clients_ajax">
                        <p>Veuillez commencer une recherche.</p>
                    </div>
                </div>
                <div id="client_choisi">
                    <div class="carte_client_ajax selectionner">
                        <p style="font-weight: bolder">Nom</p>
                        <i class="fas fa-user-check" style="font-size: 1.5rem; color: #eee"></i>
                        <input type="text" name="idClient" hidden required>
                    </div>
                </div>

                <button type="submit" class="marges btn_vert" id="valid_creation_projet" name="valid_creation_projet">Créer le projet</button>

                <style>

                </style>

                <script>
                    $('#valid_creation_projet').hide(0);
                    $('#client_choisi').hide(0);
                    function on_recherche_client_input()
                    {
                        $('#liste_clients_ajax').load('{{ path('ajax_search_clients') }}?search=' + $('#recherche_clients').val() )
                    }

                    function choix_client(idClient, nomClient){
                        $('#selection_client').hide(0);
                        $('#valid_creation_projet').fadeIn(0);
                        $('#client_choisi').fadeIn(0).find('p').text(nomClient).parent().find('input').val(idClient);
                    }

                </script>

            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
{#    <script>#}
{#        $(function(){#}
{#            $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );#}

{#            $('#project_creation_date').off();#}
{#            $('#project_creation_date').datepicker();#}
{#        });#}
{#    </script>#}
{% endblock %}