{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/etat.css') }}" media="all"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/projets/visualiserProjet.css') }}" media="all"/>
{% endblock %}
{% block contenu %}
{% if projet is null %}
    <p>Le projet n'existe pas</p>
{% else %}

    <p class="filAriane"><a href="{{ path('afficherClient', {id: client.idclient}) }}"><i class="fas fa-user-tie"></i>{{ client.nom }}</a> > <strong><i class="fas fa-project-diagram"></i>{{ projet.nom }}</strong></p>
    <div class="bandeau_titre">
        <div class="bandeau_bloc">
            <i class="fas fa-project-diagram"></i>
{#            <i class="fas fa-shapes"></i>#}
{#            <i class="fas fa-file-contract"></i>#}
            <div class="bandeau_bloc_titres">
                <p>Projet</p>
                <p>{{ projet.nom }}</p>
            </div>
        </div>
        <div class="bandeau_bloc">
            <a class="btn_vert" style="margin-right: 1rem"
               href="{{ path('creerNouveauChantier', {idprojet: projet.idprojet}) }}">
                <span class="fas fa-plus"></span> Ajouter un chantier
            </a>
            <a class="btn_vert" href="#">Archiver le projet</a>
        </div>
    </div>
{#    {% include "base/etat.html.twig" %}#}



<div id="wrapper_visualisation_projet" class="flex flex_aic flex_sa">


    <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa">
        <h5>Références du projet</h5>
        <div id="id_projet">Référence #{{ projet.refProjet }}</div>
        <div id="id_projet">Référence interne #{{ projet.idprojet }}</div>
        <div id="date_creation_projet">Créer le {{ projet.datecreation|date("d/m/Y") }}</div>
        <div>&nbsp;</div>
        <h5>Client</h5>
        <div id="nom_client" ><a href="{{ path('afficherClient', {id: client.idclient}) }}">{{ client.nom }}</a></div>
        <div id="lieu_projet"> - Situé à :  {{ client.ville }}</div>
        {% if client.estprofessionnel %}
            <div id="nom_vendeur"> - Professionnel</div>
        {% else %}
            <div id="nom_vendeur"> - Particulier</div>
        {% endif %}
    </div>
    <div id="div_chantiers" class="flex flex4 flex_col">
        {% for chantier in chantiers %}
            <a class="btn_vert" style="margin-bottom: 1rem; display: flex; flex-flow: row wrap; justify-content: space-between"
               href="{{ path('afficherPlan', {idChantier: chantier.idchantier}) }}">
                <div>
                    {{ chantier.datecreation|date('d/m/Y') }} - <strong>{{ chantier.nom }}</strong>
                </div>
                <div>
                    Statut : En attente
                </div>
                <div>
                    4 modules, 2 devis.
                </div>
            </a>
        {% endfor %}

    </div>


</div>

{% endif %}
{% endblock %}
