{% extends 'base.html.twig' %}

{% block title %}Pyramide{% endblock %}

{% block body %}

    {% include "base/header.html.twig" %}

    <div class="row mx-4 my-2">
        <div class="col mt-auto mb-auto font-weight-bold">Bonjour, {{ app.user.prenom }}.</div>
{#        <img src="Content/temp-images/indics.png" class="img-fluid w-75 mx-auto" alt="">#}
        <div class="w-75 rounded py-2" id="indicateurs">
            <div>
                <h5>INDICATEURS</h5>
                <p>(Pour les 30 derniers jours)</p>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <h5>5</h5>
                <p>Ventes</p>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <h5>12</h5>
                <p>Devis signés</p>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <h5>12</h5>
                <p>Maison en construction</p>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column">
                <h5>154 000€</h5>
                <p>Bénéfice net</p>
            </div>
        </div>
        <style>
            #indicateurs{
                display: flex;
                background-color: #57b88a;
                align-items: center;
                justify-content: space-evenly;
                color: white
            }
            #indicateurs p{
                margin: 0;
            }
            #indicateurs h5{
                margin: 0;
                font-size: 1.4rem;
            }
        </style>
    </div>
    <div class="row mt-3 mb-2">
        <h4 class="col text-center">Toutes les applis :</h4>
    </div>
    <div class="row mx-4">
        <!--     \/  Boutons liens vers les apps \/     -->
        {% for bouton in listeDesApps %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <button class="btn btn-light btn-outline-success mx-2 h-100 btn_app" onclick="location.href = '{{ bouton.chemin_app }}'">
                <div class="row w-100">
                    <img src="{{ bouton.chemin_image }}" class="img-fluid col-4" style="object-fit: contain">
                    <div class="col-8 my-auto">
                        <h6 class="text-left py-1" style="font-size: 1.2rem">{{ bouton.nom }}</h6>
                        <p class="text-left font-italic m-0 descr" style="color: #666">
                            {{ bouton.description }}</p>
                    </div>
                </div>
            </button>
        </div>
        {% endfor %}

        <style>
            .descr{
                color: #666;
                transition: color 250ms;
            }
            .btn_app:hover .descr{
                color: #fff !important;
                transition: color 250ms;
            }
        </style>

    </div>
{% endblock %}
