{% extends 'base.html.twig' %}

{% block title %}Pyramide{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #0e9453ff;
            padding-top: 25vh;
            padding-bottom: 25vh;
        }
        #loginBox
        {
            width: 120vh;
            background: linear-gradient(90deg, #ffffff 45%, #EEE 50%);
            height: 50vh;
            min-height: auto;
        }
        @media (max-width: 768px)
        {
            #loginBox
            {
                width: 90vw;
            }
        }
        @media (max-width: 992px)
        {
            #loginBox
            {
                width: 90vw;
                background: linear-gradient(90deg, #EEE 45%, #EEE 50%);
            }
        }
        .container-fluid{
            background-color: unset;
            min-height: unset;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="loginBox" class="container mx-auto rounded shadow">
        <div class="row">
            <div class="col-md-6 col-md-4 d-none d-lg-block" style="height: 50vh">
                <img src="http://madera.melvinkr.fr/Contenus/logo2.2.2.png" class="img-fluid float-left" style="max-height: 50vh">
            </div>

            <div class="col-lg-6 col-md-12 text-left" style="display: flex;
                                                                flex-flow: column;
                                                                align-content: center;
                                                                justify-content: center;">
                <h1 class="text-center text-monospace">PYRAMIDE</h1>
                <h6 class="text-center w-100 font-italic lead">Propulsé par Madera</h6>

                {% if app.user %}
                    <div id="" class="bg-danger w-100 rounded text-center text-light">Vous êtes connecté en temps que {{ app.user.username }}, <a class="text-danger bg-light px-1 rounded" href="{{ path('app_logout') }}">Deconnexion</a></div>
                {% endif %}

                {% if error %}
{#                <div id="noticeErreur" class="bg-danger w-100 rounded text-center text-light">Le nom d'utilisateur et/ou mot de passe est erroné.</div>#}
                <div id="noticeErreur" class="bg-danger w-100 rounded text-center text-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}



                <form class="form-row align-items-center" style="width: 80%; margin-left: 10%">
                    <div class="col-12 mt-3">
                        <input type="text" value="{{ last_username }}" name="username" class="form-control mb-2" id="inputUsername" placeholder="Nom d'utilisateur" required autofocus>
                    </div>
                    <div class="col-12 mt-3">
                        <input type="password" name="password" class="form-control mb-2" id="inputPassword" placeholder="Mot de passe">
                    </div>
                    <div class="col-sm-6 col-xs-12 mt-3">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox"  name="_rememberMe" id="autoSizingCheck">
                            <label class="form-check-label" for="autoSizingCheck">
                                Se souvenir de moi
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 mt-3 text-right">
                        <input type="submit" class="btn btn-success mb-2" formmethod="post" value="Se connecter">
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="col-12 mt-3 text-right">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#noticeErreur').hide();
        {% if error %}
        $(document).ready( function () {
            $('#noticeErreur').show(400);
        });
        {% endif %}

    </script>
{% endblock %}