{% extends 'gestion_devis/template.html.twig' %}


{% block contenu %}


    <p class="filAriane"><a href="{{ path('afficherListeClients') }}"><i class="fas fa-users"></i> Liste des clients</a> > <strong><i class="fas fa-user-tie"></i> {{ client.nom }}</strong></p>
    <div class="bandeau_titre">
        <div class="bandeau_bloc">
            <i class="fas fa-user-tie"></i>
            {#            <i class="fas fa-shapes"></i>#}
            {#            <i class="fas fa-file-contract"></i>#}
            <div class="bandeau_bloc_titres">
                <p>Client</p>
                <p>{{ client.nom }}</p>
            </div>
        </div>
        <div class="bandeau_bloc">
            <a class="btn_vert" style="margin-right: 1rem" href="#">Modifier</a>
            <a class="btn_vert" style="margin-right: 1rem" href="#">Appeler</a>
            <a class="btn_vert" style="margin-right: 1rem" href="#">Envoyer un e-mail</a>
            <a class="btn_vert" href="#">Supprimer</a>
        </div>
    </div>

    <div class="flex flex_aic flex_sa row" id="wrapper_visualisation_projet" style="margin-left: 0; margin-right: 0">
        <div class="col-4">
            <h5>Infos client</h5>
            <p>Ref client : {{ client.refClient }}</p>
            <p>Ref interne : {{ client.idclient }}</p>
            <p>&nbsp;</p>
            <p>Nom : {{ client.nom }}</p>
            <p>Statut :
                {% if client.estprofessionnel %} Professionnel
                {% else %} Particulier
                {% endif %}
            </p>
            <p>Secteur : {{ client.secteuractivite }}</p>
            <p>&nbsp;</p>
            <p>Adresse : {{ client.adresse }}</p>
            <p>Ville : {{ client.ville }}</p>
            <p>CP : {{ client.codepostal }}</p>
            <p>&nbsp;</p>
            <p>Description : {{ client.description }}</p>
        </div>
        <div class="col-4" style="display: flex; flex-flow: column wrap">
            <h5>Contacts</h5>
            {% for contact in contacts %}
            <a href="#" style="background-color: #0C8148;
                border-radius: 5px;
                width: 80%;
                margin-bottom: 2rem;
                padding: 0.4rem 1rem;
                color: white">
                {{ contact.nom }} {{ contact.prenom }} -
                {{ contact.fonction }} -
                {{ contact.telephone }} -
                {{ contact.mail }}
            </a>

            {% endfor %}
            <a href="#" style="background-color: #0C8148;
                border-radius: 5px;
                width: 80%;
                margin-bottom: 2rem;
                padding: 0.4rem 1rem;
                color: white"
                onclick="$('#form_new_contact').show(0)">
                <i class="fas fa-plus"></i> Ajouter contact
            </a>
            <form action="" method="post" style="display: none" id="form_new_contact">
                <h5>Nouveau contact :</h5>
                <input type="text" name="Nom" placeholder="Nom" required>
                <input type="text" name="Prenom" placeholder="Prenom">
                <input type="text" name="Fonction" placeholder="Fonction" required>
                <input type="text" name="E-mail" placeholder="E-mail" required>
                <input type="text" name="Telephone" placeholder="Telephone">
                <input type="submit" value="Créer le contact">
                <style>
                    form input{
                        background-color: white;
                        margin-bottom: 0.5rem;
                    }
                    input[type=submit]{
                        background-color: #0C8148;
                        color: white;
                    }
                </style>
            </form>
        </div>
        <div class="col-4" style="display: flex; flex-flow: column wrap">
            <h5>Projets</h5>
            {% for projet in projets %}
                <a href="{{ path('visualiserProjet', {id: projet.idprojet}) }}" style="background-color: #0C8148;
                border-radius: 5px;
                width: 80%;
                margin-bottom: 2rem;
                padding: 0.4rem 1rem;
                color: white">
                    {{ projet.nom }} - {{ projet.datecreation|date("d/m/Y") }}
                </a>

            {% endfor %}
        </div>
    </div>

    <style>
        p{
            margin: unset;
        }
        .btn_vert{
            margin-top: unset;
        }
        #wrapper_visualisation_projet {
            width: auto;
            padding: 1rem;
            box-shadow: 1px 1px 3px #2222227f;
            min-height: calc(15vw + 15vh);
            height: auto;
            background-color: #FFF;
        }
    </style>
{% endblock %}