{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/etat.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/afficherPlan.css') }}" media="all"/>
{% endblock %}


{% block contenu %}
    <h2>Chantier - Plan</h2>
    {% include "base/etat.html.twig" %}

    <div id="barre_actions_plan">
        <ul id="action_buttons">
            <li><button class="btn_vert" onclick="ouvrirAjouterModule()">Ajouter un module<div class="fas fa-plus"></div></button></li>
            <li><button class="btn_vert">Options du chantier</button></li>
            <li><button class="btn_vert">Options du plan</button></li>
        </ul>
        <div id="partie_devis">
            <div id="button_devis" data-toggle="collapse" href="#liste_devis">Devis</div>
            <div id="liste_devis" class="flex flex1 flex_col flex_sa collapse">
                <div><a href="{{ path('creerNouveauDevis') }}">Devis 1</a></div>
                <div><a href="{{ path('creerNouveauDevis') }}">Devis 2</a></div>
                <div><a href="{{ path('creerNouveauDevis') }}">Créer un devis</a></div>
            </div>
        </div>
    </div>

    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">

{#        <div id="icone_collapse" class="fas fa-chevron-circle-right" data-toggle="collapse" href="#recap_infos_projet"></div>#}
{#        <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa collapse">#}

{#            <h5>Références du projet</h5>#}

{#        </div>#}

        <div id="div_creation_chantier" class="flex flex4 flex_sa">

            <div id="partie_modules" class="flex flex2 flex_sa flex_col">

                <div id="liste_modules" class="pos">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#rdc">RDC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#etage1">Etage 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#plus">+</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="rdc">
                            <h5>Liste modules RDC</h5>
                            <div class="liste_modules">
                                {% for module in Modules %}
                                <div class="module" onclick="">
                                    <div>
                                        <p>{{ module['ModuleDansPlan'].NomDansPlan }}</p>
                                        <p>Positions : ({{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }}), ({{ module['ModuleDansPlan'].posFinX }},{{ module['ModuleDansPlan'].posFinY }})</p>
                                    </div>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                                {% endfor %}
                                <style>
                                    .module{
                                        background-color: #0C8148;
                                        padding: 0.4rem;
                                        border-radius: 5px;
                                        color: white;
                                        width: 100%;
                                        margin-top: 0.5rem;
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        cursor: pointer;
                                    }
                                    .module:hover, .module:focus{
                                        background-color: #57b88a;
                                    }
                                    .module p{
                                        font-size: 1rem;
                                    }
                                    .module i{
                                        font-size: 2rem;
                                    }
                                    .module p:last-of-type{
                                        font-style: italic;
                                        font-size: 0.8rem;
                                    }
                                </style>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="etage1">
                            <h5>Liste modules 1er étage</h5>
                            <div class="liste_modules"></div>
                        </div>
                        <div class="tab-pane container fade" id="plus">
                            <h5>Ajouter un étage</h5>
                        </div>
                    </div>
                </div>

                <div id="options_chantier" class="cacher pos">
                    <h5>Options du chantier</h5>

                </div>

                <div id="options_plan" class="cacher pos">
                    <h5>Options du plan</h5>

                </div>




                <div id="creer_devis" class="cacher pos"></div>


                <div id="ajouter_module" class="cacher pos">
                    <h5> <i class="fas fa-arrow-circle-left" onclick="$('#ajouter_module').hide(300)"></i> Ajouter un module</h5>
                    <input id="recherche_module_input" type="text" placeholder="Rechercher un module..." oninput="ajax_search_module()">
                    <div id="recherche_modules_ajax">
                        Veuillez commencer une recherche.
                    </div>
                    <script>
                        function ajax_search_module()
                        {
                            $('#recherche_modules_ajax').load("{{ path('ajax_search_modules') }}?search=" + $('#recherche_module_input').val());
                        }
                        function ajout_module(idmodule)
                        {
                            window.location.href = '{{ path('plan_add_module') }}?idplan={{ Plan.idplan }}&idchantier={{ Chantier.idchantier }}&idmodule=' + idmodule;
                        }
                    </script>
                    <style>
                        #ajouter_module input{
                            width: 100%;
                        }
                        .recherche_module{
                            background-color: #0C8148;
                            padding: 0.4rem;
                            border-radius: 5px;
                            color: white;
                            width: 100%;
                            margin-top: 1rem;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                        }
                        .recherche_module:hover, .recherche_module:focus{
                            background-color: #57b88a;
                        }
                        .recherche_module p{
                            font-size: 1rem;
                        }
                        .recherche_module i{
                            font-size: 2rem;
                        }
                        .recherche_module p:last-of-type{
                            text-align: right;
                            font-style: italic;
                            font-size: 0.8rem;
                        }
                    </style>
                </div>


            </div>

            <div id="partie_affichage_plan" class="flex flex5 flex_aic flex_col">plan</div>
        </div>

    <script>
        function hideAll(){
            $('.cacher').hide(0);
        }
        hideAll();
        function ouvrirAjouterModule(){
            $('#ajouter_module').show(300);
        }
    </script>
{% endblock %}