{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/etat.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/afficherPlan.css') }}" media="all"/>
{% endblock %}


{% block contenu %}
    <h2>Chantier - Plan</h2>
    {% set id_page = 'plan' %}
    {% include "base/etat.html.twig" %}

    <div id="barre_actions_plan">
        <ul id="action_buttons">
            <li><button class="btn_vert" onclick="ouvrirAjouterModule()">Ajouter un module<div class="fas fa-plus"></div></button></li>
            <li><button class="btn_vert" onclick="ouvrirOptionsChantier()">Options du chantier</button></li>
            <li><button class="btn_vert" onclick="ouvrirOptionsPlan()">Options du plan</button></li>
        </ul>
        <div id="partie_devis">
            <div id="button_devis" data-toggle="collapse" href="#liste_devis">Devis</div>
            <div id="liste_devis" class="flex flex1 flex_col flex_sa collapse">
                <div><a href="{{ path('creerNouveauDevis') }}">Devis 1</a></div>
                <div><a href="{{ path('creerNouveauDevis') }}">Devis 2</a></div>
                <div><button class="btn_vert" onclick="ouvrirCreerDevis()">Créer un devis</button></div>
            </div>
        </div>
    </div>

    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">

{#        <div id="icone_collapse" class="fas fa-chevron-circle-right" data-toggle="collapse" href="#recap_infos_projet"></div>#}
{#        <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa collapse">#}

{#            <h5>Références du projet</h5>#}

{#        </div>#}

        <div id="div_creation_chantier" class="flex flex4 flex_sa">

            <div id="partie_modules" class="flex flex2 flex_sa flex_col">

                <div id="liste_modules" class="pos">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#rdc">RDC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#etage1">Etage 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#plus">+</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="rdc">
                            <h5>Liste modules RDC</h5>
                            <div class="liste_modules">
                                {% for module in Modules %}
                                <div class="module"

                                    {% if module['Module'].unite == "unite" %}
                                    onclick='ouvrirOptionModuleUnite("{{ module['Module'].nom }}",
                                            "{{ module['ModuleDansPlan'].NomDansPlan }}",{{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }},{{ module['ModuleDansPlan'].Rotation }},
                                            "{{ module['ModuleDansPlan'].Notes }}",
                                    {{ module['ModuleDansPlan'].VisibleDansPlan }})'

                                    {% else %}
                                        onclick='ouvrirOptionModule("{{ module['Module'].nom }}",
                                                "{{ module['ModuleDansPlan'].NomDansPlan }}",{{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }},{{ module['ModuleDansPlan'].posFinX }},{{ module['ModuleDansPlan'].posFinY }},
                                                "{{ module['ModuleDansPlan'].Notes }}",
                                        {{ module['ModuleDansPlan'].VisibleDansPlan }}
                                                )'
                                    {% endif %}>

                                    <div>
                                        <p>{{ module['ModuleDansPlan'].NomDansPlan }}</p>
                                        <p>Positions : ({{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }}), ({{ module['ModuleDansPlan'].posFinX }},{{ module['ModuleDansPlan'].posFinY }})</p>
                                    </div>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                                {% endfor %}
                                <style>
                                    .module{
                                        background-color: #0C8148;
                                        padding: 0.4rem;
                                        border-radius: 5px;
                                        color: white;
                                        width: 100%;
                                        margin-top: 0.5rem;
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        cursor: pointer;
                                    }
                                    .module:hover, .module:focus{
                                        background-color: #57b88a;
                                    }
                                    .module p{
                                        font-size: 1rem;
                                    }
                                    .module i{
                                        font-size: 2rem;
                                    }
                                    .module p:last-of-type{
                                        font-style: italic;
                                        font-size: 0.8rem;
                                    }
                                </style>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="etage1">
                            <h5>Liste modules 1er étage</h5>
                            <div class="liste_modules"></div>
                        </div>
                        <div class="tab-pane container fade" id="plus">
                            <h5>Ajouter un étage</h5>
                        </div>
                    </div>
                </div>

                <div id="options_chantier" class="cacher pos flex flex4 flex_col">
                    <h5><i class="fas fa-arrow-circle-left" onclick="fermerOptionsChantier()"></i>Options du chantier</h5>
                    <form action="#" method="post">
                        <div class="flex fullwidth marges">
                            <label for="nom_chantier" >Nom du chantier :</label>
                            <input type="text" id="nom_chantier" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="date_crea_chantier">Date de création :</label>
                            <input type="date" id="date_crea_chantier" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="date_lancement">Date de lancement :</label>
                             <input type="date" id="date_lancement"  required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="adresse">Adresse :</label>
                            <input type="text" id="adresse"  required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="ville">Ville :</label>
                            <input type="text" id="ville" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="code_postal" >Code Postal :</label>
                            <input type="text" id="code_postal" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <div id="notes" >
                                <label for="note">NOTES : </label>
                                <!--<input id="note" name="note" type="textarea">-->
                                <textarea name="note" id="editor" ></textarea>
                            </div>
                        </div>

                        <input type="submit" value="Valider" id="valid_options_chantier">
                    </form>
                </div>

                <div id="options_plan" class="cacher pos flex flex4 flex_col">
                    <h5><i class="fas fa-arrow-circle-left" onclick="$('#options_plan').hide(300)"></i>Options du plan</h5>
                    <form action="#" method="post">
                        <div class="flex fullwidth marges">
                            <label for="tailleX">Taille X :</label>
                            <input type="number" id="tailleX" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="tailleY">Taille Y :</label>
                            <input type="number" id="tailleY" required>
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="nbre_etage">Nombre d'étage :</label>
                            <input type="number" id="nbre_etage" required>
                        </div>
                        <input type="submit" value="Valider" id="valid_options_plan">

                    </form>

                </div>


                <div id="options_module_unite" class="cacher pos">
                    <h5><i class="fas fa-arrow-circle-left" onclick="$('#options_module_unite').hide(300)"></i><i id="option_module_unite_titre"></i></h5>
                    <form method="post" action="#">
                        <div class="flex fullwidth marges">
                            <label for="nom_affiche_unite">Nom affiché :</label>
                            <input type="text" id="nom_affiche_unite" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="positionXmodule">Position X:</label>
                            <input type="number" id="positionXmodule" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="positionYmodule">Position Y:</label>
                            <input type="number" id="positionYmodule" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="rotation">Rotation :</label>
                            <input type="number" id="rotation" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="notes">Notes :</label>
                            <input type="text" id="notes" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="visible_plan">Visible sur le plan :</label>
                            <input type="checkbox" id="visible_plan" required>
                        </div>

                        <input type="submit" id="delete_options_module" value="Supprimer">
                        <input type="submit" id="valid_options_module" value="Valider">
                    </form>

                </div>


                <div id="options_module" class="cacher pos">
                    <h5><i class="fas fa-arrow-circle-left" onclick="$('#options_module').hide(300)"></i><i id="option_module_titre"></i></h5>
                    <form>
                        <div class="flex fullwidth marges">
                            <label for="nom_affiche">Nom affiché :</label>
                            <input type="text" id="nom_affiche" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="position_departX">Position départ X :</label>
                            <input type="number" id="position_departX" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="position_departY">Position départ Y :</label>
                            <input type="number" id="position_departY" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="position_finX">Position fin X :</label>
                            <input type="number" id="position_finX" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="position_finY">Position fin Y :</label>
                            <input type="number" id="position_finY" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="notes_unite">Notes :</label>
                            <input type="text" id="notes_unite" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="visible_plan_unite">Visible sur le plan :</label>
                            <input type="checkbox" id="visible_plan_unite" required>
                        </div>

                        <input type="submit" id="delete_options_module_unite" value="Supprimer">
                        <input type="submit" id="valid_options_module_unite" value="Valider">

                    </form>

                </div>

                <div id="creer_devis" class="cacher pos">
                    <h5> <i class="fas fa-arrow-circle-left" onclick="$('#creer_devis').hide(300)"></i>Créer un devis</h5>
                    <form action="#" method="post">
                        <div class="flex fullwidth marges">
                            <label for="nom_devis">Nom du devis :</label>
                            <input type="text" id="nom_devis">
                        </div>
                        <div class="flex fullwidth marges">
                            <label for="date_creation_devis">Date de création :</label>
                            <input type="date" id="date_creation_devis">
                        </div>
                        <input type="submit" value="Valider">
                    </form>
                </div>


                <div id="ajouter_module" class="cacher pos">
                    <h5> <i class="fas fa-arrow-circle-left" onclick="$('#ajouter_module').hide(300)"></i> Ajouter un module</h5>
                    <input id="recherche_module_input" type="text" placeholder="Rechercher un module..." oninput="ajax_search_module()">
                    <div id="recherche_modules_ajax">
                        Veuillez commencer une recherche.
                    </div>
                    <script>
                        function ajax_search_module()
                        {
                            $('#recherche_modules_ajax').load("{{ path('ajax_search_modules') }}?search=" + $('#recherche_module_input').val());
                        }
                        function ajout_module(idmodule)
                        {
                            window.location.href = '{{ path('plan_add_module') }}?idplan={{ Plan.idplan }}&idchantier={{ Chantier.idchantier }}&idmodule=' + idmodule;
                        }
                    </script>
                    <style>
                        #ajouter_module input{
                            width: 100%;
                        }
                        .recherche_module{
                            background-color: #0C8148;
                            padding: 0.4rem;
                            border-radius: 5px;
                            color: white;
                            width: 100%;
                            margin-top: 1rem;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                        }
                        .recherche_module:hover, .recherche_module:focus{
                            background-color: #57b88a;
                        }
                        .recherche_module p{
                            font-size: 1rem;
                        }
                        .recherche_module i{
                            font-size: 2rem;
                        }
                        .recherche_module p:last-of-type{
                            text-align: right;
                            font-style: italic;
                            font-size: 0.8rem;
                        }
                    </style>
                </div>


            </div>

            <div id="partie_affichage_plan" class="flex flex5 flex_aic flex_col">plan</div>
        </div>

    <script>
        let compteurZIndex = 10;

        function hideAll(){
            $('.cacher').hide(0);
        }

        hideAll();

        function ouvrirOptionsChantier(){
            compteurZIndex++;
            $('#partie_modules').removeClass("flex2").addClass("flex5");
            $('#partie_affichage_plan').removeClass("flex5").addClass("flex2");
            $('#options_chantier').show(300).css("z-index",compteurZIndex);
        }

        function fermerOptionsChantier(){
            $('#partie_modules').removeClass("flex5").addClass("flex2");
            $('#partie_affichage_plan').removeClass("flex2").addClass("flex5");
            $('#options_chantier').hide(300).css("z-index",compteurZIndex);
        }


        function ouvrirOptionsPlan(){
            compteurZIndex++;
            $('#options_plan').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirCreerDevis(){
            compteurZIndex++;
            $('#creer_devis').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirAjouterModule(){
            compteurZIndex++;
            $('#ajouter_module').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirOptionModule(nom_module,
                                    nom_affiche,
                                    position_depX,
                                    position_depY,
                                    position_finX,
                                    position_finY,
                                    notes,
                                    visible_plan){
            $('#nom_affiche').val(nom_affiche);
            $('#option_module_titre').text(nom_module);
            $('#position_departX').val(position_depX);
            $('#position_departY').val(position_depY);
            $('#position_finX').val(position_finX);
            $('#position_finY').val(position_finY);
            $('#notes_unite').val(notes);
            $('#visible_plan_unite').prop("checked",visible_plan);
            compteurZIndex++;
            $('#options_module').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirOptionModuleUnite(nom_module,
                                    nom_affiche,
                                    position_X,
                                    position_Y,
                                    rotation,
                                    notes,
                                    visible_plan){
            $('#nom_affiche_unite').val(nom_affiche);
            $('#option_module_unite_titre').text(nom_module);
            $('#positionXmodule').val(position_X);
            $('#positionYmodule').val(position_Y);
            $('#rotation').val(rotation);
            $('#notes').val(notes);
            $('#visible_plan').prop("checked",visible_plan);
            compteurZIndex++;
            $('#options_module_unite').show(300).css("z-index",compteurZIndex);
        }



    </script>


        <script>
            $(function(){
                ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {
                    console.error( error );
                });
            });

        </script>
        <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>



{% endblock %}