{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/etat.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/afficherPlan.css') }}" media="all"/>
{% endblock %}


{% block contenu %}
    <p class="filAriane">
        <a href="{{ path('afficherClient', {id: Client.idclient}) }}">
            <i class="fas fa-user-tie"></i>&nbsp;{{ Client.nom }}
        </a>
        &nbsp;>&nbsp;
        <a href="{{ path('visualiserProjet', {id: Projet.idprojet}) }}">
            <i class="fas fa-project-diagram"></i>&nbsp;{{ Projet.nom }}
        </a>
        &nbsp;>&nbsp;
        <strong>
            <i class="fas fa-shapes"></i>&nbsp;{{ Chantier.nom }}
        </strong>
    </p>
    <div class="bandeau_titre">
        <div class="bandeau_bloc">
{#            <i class="fas fa-project-diagram"></i>#}
                        <i class="fas fa-shapes"></i>
            {#            <i class="fas fa-file-contract"></i>#}
            <div class="bandeau_bloc_titres">
                <p>Chantier</p>
                <p>{{ Chantier.nom }}</p>
            </div>
        </div>
        <div class="bandeau_bloc">
            <a class="btn_vert" href="#" style="margin-right: 1rem"
               onclick="ouvrirAjouterModule()"><span class="fas fa-plus"></span> Ajouter un module</a>
            <a class="btn_vert" href="#"  style="margin-right: 1rem"
               onclick="ouvrirOptionsChantier()">Options du chantier</a>
            <a class="btn_vert" href="#" style="margin-right: 1rem"
               onclick="ouvrirOptionsPlan()">Options du plan</a>

            <button class="btn_vert mr-2 dropdown-toggle" data-toggle="dropdown"><span class="fas fa-file-contract"></span>&nbsp;&nbsp;Devis</button>
            <div class="dropdown-menu">
                {% for devis in Devis %}
                    <a class="dropdown-item" href="{{ path('afficher_devis', {iddevis: devis.iddevis}) }}">
                        <span class="fas fa-file-contract"></span> {{ devis.nom }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" style="color: #0C8148" onclick="ouvrirCreerDevis()">
                    <span class="fas fa-plus" style="color: #0C8148; margin-left: 0"></span> Créer un devis</a>
            </div>
        </div>
    </div>

    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">

{#        <div id="icone_collapse" class="fas fa-chevron-circle-right" data-toggle="collapse" href="#recap_infos_projet"></div>#}
{#        <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa collapse">#}

{#            <h5>Références du projet</h5>#}

{#        </div>#}

        <div id="div_creation_chantier" class="flex flex4 flex_sa">

            <div id="partie_modules" class="flex flex2 flex_sa flex_col">

                <div id="liste_modules" class="pos">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#rdc">RDC</a>
                        </li>
                        {% for i in 1..Plan.nbetage %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#etage{{ i }}">Etage {{ i }}</a>
                            </li>
                        {% endfor %}

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="rdc">
                            <h5>Liste modules RDC</h5>
                            <div class="liste_modules">
                                {% for module in Modules %}
                                <div class="module"

                                    {% if module['Module'].unite == "unite" %}
                                    onclick='ouvrirOptionModuleUnite("{{ module['Module'].nom }}",
                                            "{{ module['ModuleDansPlan'].NomDansPlan }}",{{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }},{{ module['ModuleDansPlan'].Rotation }},"{{ module['ModuleDansPlan'].Notes }}",{{ module['ModuleDansPlan'].VisibleDansPlan ? "true" : "false" }},{{ module['ModuleDansPlan'].idmodulesdansplan }})'

                                    {% else %}
                                        onclick='ouvrirOptionModule("{{ module['Module'].nom }}",
                                                "{{ module['ModuleDansPlan'].NomDansPlan }}",{{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }},{{ module['ModuleDansPlan'].posFinX }},{{ module['ModuleDansPlan'].posFinY }},"{{ module['ModuleDansPlan'].Notes }}",{{ module['ModuleDansPlan'].VisibleDansPlan ? "true" : "false" }},{{ module['ModuleDansPlan'].idmodulesdansplan }})'
                                    {% endif %}>

                                    <div>
                                        <p>{{ module['ModuleDansPlan'].NomDansPlan }}</p>
                                        <p>Positions : ({{ module['ModuleDansPlan'].posDebX }},{{ module['ModuleDansPlan'].posDebY }}), ({{ module['ModuleDansPlan'].posFinX }},{{ module['ModuleDansPlan'].posFinY }})</p>
                                    </div>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                                {% endfor %}
                                <style>
                                    .module{
                                        background-color: #0C8148;
                                        padding: 0.4rem;
                                        border-radius: 5px;
                                        color: white;
                                        width: 100%;
                                        margin-top: 0.5rem;
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: space-between;
                                        align-items: center;
                                        cursor: pointer;
                                    }
                                    .module:hover, .module:focus{
                                        background-color: #57b88a;
                                    }
                                    .module p{
                                        font-size: 1rem;
                                    }
                                    .module i{
                                        font-size: 2rem;
                                    }
                                    .module p:last-of-type{
                                        font-style: italic;
                                        font-size: 0.8rem;
                                    }
                                </style>
                            </div>
                        </div>
                        {% for i in 1..Plan.nbetage %}
                        <div class="tab-pane container fade" id="etage{{ i }}">
                            <h5>Etage n°{{ i }}</h5>
                            <div class="liste_modules"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="options_chantier" class="cacher pos flex flex4 flex_col">
                    <h5><i class="fas fa-arrow-circle-left" onclick="fermerOptionsChantier()"></i> Options du chantier</h5>
                    <form action="{{ path('plan_save_chantier') }}" method="post" class="flex flex_col">
                        <div class="flex fullwidth marges flex1">
                            <label for="nom_chantier" class="labelform flex flex1 flex_end flex_aic" >Nom du chantier :</label>
                            <input type="text" name="nom_chantier" class="flex flex1 flex_aic" value="{{ Chantier.nom }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="date_crea_chantier" class="labelform flex flex1 flex_end flex_aic">Date de création :</label>
                            <input type="date" name="date_crea_chantier"  class="flex flex1 flex_aic" value="{{ Chantier.datecreation|date('Y-m-d') }}" disabled>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="date_lancement" class="labelform flex flex1 flex_end flex_aic">Date de lancement :</label>
                             <input type="date" name="date_lancement" class="flex flex1 flex_aic" value="{{ Chantier.datelancement|date('Y-m-d') }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="adresse" class="labelform flex flex1 flex_end flex_aic">Adresse :</label>
                            <input type="text" name="adresse" class="flex flex1 flex_aic" value="{{ Chantier.adresse }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="ville" class="labelform flex flex1 flex_end flex_aic">Ville :</label>
                            <input type="text" name="ville" class="flex flex1 flex_aic" value="{{ Chantier.ville }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="code_postal" class="labelform flex flex1 flex_end flex_aic" >Code Postal :</label>
                            <input type="text" name="code_postal" class="flex flex1 flex_aic" value="{{ Chantier.codepostal }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <div id="notes" >
                                <label for="note" class="flex flex1 flex_aic">NOTES : </label>
                                <!--<input id="note" name="note" type="textarea">-->
                                <textarea name="note" id="editor" class="flex flex1 flex_aic" >{{ Chantier.notes }}</textarea>
                            </div>
                        </div>
                        <input type="text" name="idchantier" value="{{ Chantier.idchantier }}" hidden>
                        <input type="submit" value="Valider" id="valid_options_chantier"  class="btn_vert flex flex_center">
                    </form>
                </div>

                <div id="options_plan" class="cacher pos flex flex4 flex_col">
                    <h5><i class="fas fa-arrow-circle-left" onclick="$('#options_plan').hide(300)"></i> Options du plan</h5>
                    <form action="{{ path('plan_save_plan') }}" method="post">
                        <div class="flex fullwidth marges flex1">
                            <label for="tailleX" class="labelform flex flex1 flex_end flex_aic">Taille X :</label>
                            <input type="number" name="tailleX"  class="flex flex1 flex_aic" value="{{ Plan.taillex }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="tailleY" class="labelform flex flex1 flex_end flex_aic">Taille Y :</label>
                            <input type="number" name="tailleY"  class="flex flex1 flex_aic" value="{{ Plan.tailley }}" required>
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="nbre_etage" class="labelform flex flex1 flex_end flex_aic">Nb étage :</label>
                            <input type="number" name="nbre_etage"  class="flex flex1 flex_aic" value="{{ Plan.nbetage }}" required>
                        </div>
                        <input type="text" name="idchantier" value="{{ Chantier.idchantier }}" hidden>
                        <input type="text" name="idplan" value="{{ Plan.idplan }}" hidden>
                        <input type="submit" value="Valider" id="valid_options_plan" class="btn_vert flex flex_center">

                    </form>

                </div>


                <div id="options_module_unite" class="cacher pos">
                    <h5><i class="fas fa-arrow-circle-left" onclick="fermerOptionModulesUnite()"></i><i id="option_module_unite_titre"></i></h5>
                    <form method="post" action="{{ path('plan_save_module_unite') }}">
                        <div class="flex fullwidth marges">
                            <label for="nom_affiche_unite" class="labelform flex flex1 flex_end flex_aic">Nom affiché :</label>
                            <input type="text" id="nom_affiche_unite" name="nom_affiche_unite" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="positionXmodule" class="labelform flex flex1 flex_end flex_aic">Position X:</label>
                            <input type="number" id="positionXmodule" name="positionXmodule" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="positionYmodule" class="labelform flex flex1 flex_end flex_aic">Position Y:</label>
                            <input type="number" id="positionYmodule" name="positionYmodule" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="rotation" class="labelform flex flex1 flex_end flex_aic">Rotation :</label>
                            <input type="number" id="rotation" name="rotation" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="notes" class="labelform flex flex1 flex_end flex_aic">Notes :</label>
                            <input type="text" id="notes_module" name="notes" class="flex flex1 flex_aic">
                        </div>

                        <div class="flex fullwidth marges">
                            <label for="visible_plan" class="labelform flex flex1 flex_end flex_aic">Visible sur le plan :</label>
                            <input type="checkbox" id="visible_plan" name="visible_plan" class="flex flex1 flex_aic">
                        </div>

                        <input type="text" id="idmoduledansplanunite" name="idmoduledansplan" hidden>
                        <input type="text" name="idchantier" value="{{ Chantier.idchantier }}" hidden>

                        <input type="submit" id="delete_options_module" name="delete_options_module" value="Supprimer"  class="btn_vert flex flex_center">
                        <input type="submit" id="valid_options_module" name="valid_options_module" value="Valider"  class="btn_vert flex flex_center">
                    </form>

                </div>


                <div id="options_module" class="cacher pos">
                    <h5><i class="fas fa-arrow-circle-left" onclick="fermerOptionsModules()"></i><i id="option_module_titre"></i></h5>
                    <form method="post" action="{{ path('plan_save_module') }}">
                        <div class="flex fullwidth marges flex1">
                            <label for="nom_affiche" class="labelform flex flex1 flex_end flex_aic">Nom affiché :</label>
                            <input type="text" id="nom_affiche" name="nom_affiche" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="position_departX" class="labelform flex flex1 flex_end flex_aic">Position départ X :</label>
                            <input type="number" id="position_departX" name="position_departX" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="position_departY" class="labelform flex flex1 flex_end flex_aic">Position départ Y :</label>
                            <input type="number" id="position_departY" name="position_departY" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="position_finX" class="labelform flex flex1 flex_end flex_aic">Position fin X :</label>
                            <input type="number" id="position_finX" name="position_finX" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="position_finY" class="labelform flex flex1 flex_end flex_aic">Position fin Y :</label>
                            <input type="number" id="position_finY" name="position_finY" class="flex flex1 flex_aic" required>
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="notes_unite" class="labelform flex flex1 flex_end flex_aic">Notes :</label>
                            <input type="text" id="notes_unite" name="notes_unite" class="flex flex1 flex_aic">
                        </div>

                        <div class="flex fullwidth marges flex1">
                            <label for="visible_plan_unite" class="labelform flex flex1 flex_end flex_aic">Visible sur le plan :</label>
                            <input type="checkbox" id="visible_plan_unite" name="visible_plan_unite" class="flex flex1 flex_aic">
                        </div>

                        <input type="text" id="idmoduledansplan" name="idmoduledansplan" hidden>
                        <input type="text" name="idchantier" value="{{ Chantier.idchantier }}" hidden>

                        <input type="submit" id="delete_options_module_unite" name="delete_options_module_unite" value="Supprimer" class="btn_vert flex flex_center">
                        <input type="submit" id="valid_options_module_unite" name="valid_options_module_unite" value="Valider"  class="btn_vert flex flex_center">

                    </form>

                </div>

                <div id="creer_devis" class="cacher pos">
                    <h5> <i class="fas fa-arrow-circle-left" onclick="$('#creer_devis').hide(300)"></i> Créer un devis</h5>
                    <form action="{{ path('plan_creer_devis', {idchantier: Chantier.idchantier}) }}" method="post">
                        <div class="flex fullwidth marges flex1">
                            <label for="nom_devis" class="labelform flex flex1 flex_aic">Nom du devis :</label>
                            <input type="text" id="nom_devis" name="nom_devis" class="flex flex1 flex_aic">
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="date_creation_devis" class="labelform flex flex1 flex_aic">Date de création :</label>
                            <input type="date" id="date_creation_devis" name="date_creation_devis" class="flex flex1 flex_aic">
                        </div>
                        <div class="flex fullwidth marges flex1">
                            <label for="gammes_devis" class="labelform flex flex1 flex_aic">Gamme :</label>
                            <select id="gammes_devis" name="gammes_devis" class="flex flex1 flex_aic">
                                {% for gamme in Gammes %}
                                    <option value="{{ gamme.idgamme }}">{{ gamme.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Valider"  class="btn_vert flex flex_center">
                    </form>
                </div>


                <div id="ajouter_module" class="cacher pos">
                    <h5> <i class="fas fa-arrow-circle-left" onclick="$('#ajouter_module').hide(300)"></i> Ajouter un module</h5>
                    <input id="recherche_module_input" type="text" placeholder="Rechercher un module..." oninput="ajax_search_module()">
                    <div id="recherche_modules_ajax">
                        Veuillez commencer une recherche.
                    </div>
                    <script>
                        function ajax_search_module()
                        {
                            $('#recherche_modules_ajax').load("{{ path('ajax_search_modules') }}?search=" + $('#recherche_module_input').val());
                        }
                        function ajout_module(idmodule)
                        {
                            window.location.href = '{{ path('plan_add_module') }}?idplan={{ Plan.idplan }}&idchantier={{ Chantier.idchantier }}&idmodule=' + idmodule;
                        }
                    </script>
                    <style>
                        #ajouter_module input{
                            width: 100%;
                        }
                        .recherche_module{
                            background-color: #0C8148;
                            padding: 0.4rem;
                            border-radius: 5px;
                            color: white;
                            width: 100%;
                            margin-top: 1rem;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                        }
                        .recherche_module:hover, .recherche_module:focus{
                            background-color: #57b88a;
                        }
                        .recherche_module p{
                            font-size: 1rem;
                        }
                        .recherche_module i{
                            font-size: 2rem;
                        }
                        .recherche_module p:last-of-type{
                            text-align: right;
                            font-style: italic;
                            font-size: 0.8rem;
                        }
                    </style>
                </div>


            </div>

            <div id="partie_affichage_plan" class="flex flex5 flex_aic flex_col">
                <img src="{{ asset('Content/temp-images/plan.jpg') }}" alt="">
            </div>
        </div>

    <script>
        let compteurZIndex = 10;

        function hideAll(){
            $('.cacher').hide(0);
        }

        hideAll();

        function ouvrirOptionsChantier(){
            compteurZIndex++;
            $('#partie_modules').removeClass("flex2").addClass("flex5");
            $('#partie_affichage_plan').removeClass("flex5").addClass("flex2");
            $('#options_chantier').show(300).css("z-index",compteurZIndex);
        }

        function fermerOptionsChantier(){
            $('#partie_modules').removeClass("flex5").addClass("flex2");
            $('#partie_affichage_plan').removeClass("flex2").addClass("flex5");
            $('#options_chantier').hide(300).css("z-index",compteurZIndex);
        }


        function ouvrirOptionsPlan(){
            compteurZIndex++;
            $('#options_plan').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirCreerDevis(){
            compteurZIndex++;
            $('#creer_devis').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirAjouterModule(){
            compteurZIndex++;
            $('#ajouter_module').show(300).css("z-index",compteurZIndex);
        }

        function ouvrirOptionModule(nom_module,
                                    nom_affiche,
                                    position_depX,
                                    position_depY,
                                    position_finX,
                                    position_finY,
                                    notes,
                                    visible_plan,
                                    idmoduledansplan){
            $('#nom_affiche').val(nom_affiche);
            $('#option_module_titre').text(nom_module);
            $('#position_departX').val(position_depX);
            $('#position_departY').val(position_depY);
            $('#position_finX').val(position_finX);
            $('#position_finY').val(position_finY);
            $('#notes_unite').val(notes);
            $('#idmoduledansplan').val(idmoduledansplan);
            $('#visible_plan_unite').prop("checked",visible_plan);
            compteurZIndex++;
            $('#partie_modules').removeClass("flex2").addClass("flex4");
            $('#partie_affichage_plan').removeClass("flex5").addClass("flex3");
            $('#options_module').show(300).css("z-index",compteurZIndex);
        }

        function fermerOptionsModules() {
            $('#partie_modules').removeClass("flex4").addClass("flex2");
            $('#partie_affichage_plan').removeClass("flex3").addClass("flex5");
            $('#options_module').hide(300).css("z-index",compteurZIndex);
        }


        function ouvrirOptionModuleUnite(nom_module,
                                    nom_affiche,
                                    position_X,
                                    position_Y,
                                    rotation,
                                    notes,
                                    visible_plan,
                                    idmoduledansplanunite){
            $('#nom_affiche_unite').val(nom_affiche);
            $('#option_module_unite_titre').text(nom_module);
            $('#positionXmodule').val(position_X);
            $('#positionYmodule').val(position_Y);
            $('#rotation').val(rotation);
            $('#notes_module').val(notes);
            $('#idmoduledansplanunite').val(idmoduledansplanunite);
            $('#visible_plan').prop("checked",visible_plan);
            compteurZIndex++;
            $('#partie_modules').removeClass("flex2").addClass("flex4");
            $('#partie_affichage_plan').removeClass("flex5").addClass("flex3");
            $('#options_module_unite').show(300).css("z-index",compteurZIndex);
        }


        function fermerOptionModulesUnite(){
            $('#partie_modules').removeClass("flex4").addClass("flex2");
            $('#partie_affichage_plan').removeClass("flex3").addClass("flex5");
            $('#options_module_unite').hide(300).css("z-index",compteurZIndex);
        }




    </script>


        <script>
            $(function(){
                ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {
                    console.error( error );
                });
            });


            //HAUTEUR AUTO LISTE
            function hauteurAuto()
            {
                let maxHeight = $('#liste_modules').height();
                console.log("maxHeight : " + maxHeight + " | item : " + $('#liste_modules').height());
                if (maxHeight < $('#options_module').height()) { maxHeight = $('#options_module').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#options_module').height());
                if (maxHeight < $('#options_module_unite').height()) { maxHeight = $('#options_module_unite').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#options_module_unite').height());
                if (maxHeight < $('#options_plan').height()) { maxHeight = $('#options_plan').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#options_plan').height());
                if (maxHeight < $('#creer_devis').height()) { maxHeight = $('#creer_devis').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#creer_devis').height());
                if (maxHeight < $('#ajouter_module').height()) { maxHeight = $('#ajouter_module').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#ajouter_module').height());
                if (maxHeight < $('#options_chantier').height()) { maxHeight = $('#options_chantier').height(); }
                console.log("maxHeight : " + maxHeight + " | item : " + $('#options_chantier').height());

                // $('#partie_modules').css('min-height', maxHeight + "px");
                $('#partie_modules').css('min-height', "calc(4rem + " + maxHeight + "px)");

            }
            hauteurAuto();


        </script>
        <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>



{% endblock %}