{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/etat.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/creerNouveauChantier.css') }}" media="all"/>
{% endblock %}


{% block contenu %}
<h2>Créer un nouveau chantier</h2>

    {% include "base/etat.html.twig" %}

<div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">


    <div id="recap_infos_projet" class="flex flex1 flex_col flex_sa">
        <h5>Références du projet</h5>
        <div id="nom_projet" ><a href="{{ path('visualiserProjet', {id: projet.idprojet}) }}">{{ projet.nom }}</a></div>
        <div id="id_projet">Référence #{{ projet.refProjet }}</div>
        <div id="id_projet">Référence interne #{{ projet.idprojet }}</div>
        <div id="date_creation_projet">Créer le {{ projet.datecreation|date("d/m/Y") }}</div>
        <div>&nbsp;</div>
        <h5>Client</h5>
        <div id="nom_client" ><a href="#">{{ client.nom }}</a></div>
        <div id="lieu_projet"> - Situé à :  {{ client.ville }}</div>
        {% if client.estprofessionnel %}
            <div id="nom_vendeur"> - Professionnel</div>
        {% else %}
            <div id="nom_vendeur"> - Particulier</div>
        {% endif %}
    </div>

    <div id="div_creation_chantier" class="flex flex4 flex_col">

        <form id="form_creation_chantier" action="{{ path('creerNouveauChantier', {idprojet: projet.idprojet}) }}" method="post" class="flex flex4 flex_col">
            <div class="flex fullwidth marges">
                <label for="chantier_name" class="flex flex1 flex_end pr">Nom :</label>
{#                <input type="text" class="flex flex1" placeholder="Nom du chantier" name="chantier_name" value="Chantier finitions Nature - Personnalisé">#}
                <input type="text" class="flex flex1" placeholder="Nom du chantier" name="chantier_name" required>
            </div>
            <div class="flex fullwidth marges">
                <label for="chantier_creation_date" class="flex flex1 flex_end pr">   Date de création du chantier :</label>
                <input type="date" class="flex flex1" id="project_creation_date" name="project_creation_date" value="{{ "now"|date("Y-m-d") }}" required>
            </div>
            <div class="flex fullwidth marges">
                <label for="chantier_lancement_date" class="flex flex1 flex_end pr">   Date de lancement du chantier :</label>
                <input type="date" class="flex flex1" id="chantier_lancement_date" name="chantier_lancement_date" value="{{ "now"|date("Y-m-d") }}" required>
            </div>
            <div class="flex fullwidth marges">
                <label for="adresse" class="flex flex1 flex_end pr">   Addresse :</label>
                <input type="text" class="flex flex1" id="adresse" name="adresse" placeholder="Adresse">
            </div>
            <div class="flex fullwidth marges">
<<<<<<< Updated upstream
                <label for="Ville" class="flex flex1 flex_end pr">   Ville :</label>
                <input type="text" class="flex flex1" id="Ville" name="Ville" placeholder="Ville">
=======
                <label for="project_creation_date" class="flex flex1 flex_end pr">   Date de création du chantier :</label>
                <input type="text" class="flex flex1" placeholder="jj/mm/aaaa" id="project_creation_date" name="project_creation_date" value="{{ "now"|date("Y-m-d") }}" required>
>>>>>>> Stashed changes
            </div>
            <div class="flex fullwidth marges">
                <label for="code_postal" class="flex flex1 flex_end pr">   Code Postal :</label>
                <input type="text" class="flex flex1" id="code_postal" name="code_postal" placeholder="xxxxx">
            </div>

            <div id="notes">
                    <label for="note">NOTES : </label>
                    <!--<input id="note" name="note" type="textarea">-->
                    <textarea name="note" id="editor"></textarea>

            </div>
            <div class="flex flex_col fullwidth marges">
                <input type="submit" class="marges btn_vert" id="valid_creation_chantier" value="Créer le chantier">
            </div>
        </form>

        </form>

    </div>



</div>
{% endblock %}

{% block javascripts %}


    <script>
        $(function(){
            ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {
                console.error( error );
            });
        });

    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
{% endblock %}