{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/afficherPlan.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/devis/creerNouveauDevis.css') }}" media="all"/>
{% endblock %}

{% block contenu %}
    <p class="filAriane">
        <a href="{{ path('afficherClient', {id: Client.idclient}) }}">
            <i class="fas fa-user-tie"></i>&nbsp;{{ Client.nom }}
        </a>
        &nbsp;>&nbsp;
        <a href="{{ path('visualiserProjet', {id: Projet.idprojet}) }}">
            <i class="fas fa-project-diagram"></i>&nbsp;{{ Projet.nom }}
        </a>
        &nbsp;>&nbsp;
        <a href="{{ path('afficherPlan', {idChantier: Chantier.idchantier}) }}">
            <i class="fas fa-shapes"></i>&nbsp;{{ Chantier.nom }}
        </a>
        &nbsp;>&nbsp;
        <strong>
            <i class="fas fa-file-contract"></i>&nbsp;{{ Devis.nom }}
        </strong>
    </p>
    <div class="bandeau_titre">
        <div class="bandeau_bloc">
            {#            <i class="fas fa-project-diagram"></i>#}
{#            <i class="fas fa-shapes"></i>#}
            <i class="fas fa-file-contract"></i>
            <div class="bandeau_bloc_titres">
                <p>Devis</p>
                <p>{{ Devis.nom }}</p>
            </div>
        </div>
        <div class="bandeau_bloc">
            <a class="btn_vert" href="#"  style="margin-right: 1rem"
               onclick="ouvrirOptionsChantier()">Enregistrer</a>
            <a class="btn_vert" href="#"
               onclick="ouvrirOptionsPlan()">Générer un PDF</a>
        </div>
    </div>




    
    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">

        <div id="recap_infos_projet_chantier" class="flex flex1 flex_col flex_sa">
            <h5>Références du projet / chantier</h5>
            <div id="id_projet" name="id_projet">Projet n°3</div>
            <div id="id_chantier" name="id_chantier">Chantier n°1</div>
            <div id="nom_client" name="nom_client">Monsieur Silva</div>
            <div id="lieu_projet" name="lieu_projet">Lieu : Bordeaux</div>
            <div id="date_creation_projet" name="date_creation_projet">Date de création : 01/01/2021</div>
            <div id="nom_vendeur" name="nom_vendeur">Commercial : Tomasi</div>
        </div>

        <div id="div_creation_devis" class="flex flex4 flex_col">
            <form id="form_creation_devis" action="" method="post" class="flex flex4 flex_col">
                <div class="flex fullwidth marges">
                    <label for="nom_devis">Nom du devis :</label><br>
                    <input type="text" id="nom_devis" name="nom_devis">
                </div>
                <div class="flex fullwidth marges">
                    <label for="etat">Etat du devis :</label><br>
                    <select id="etat" name="etat">
                        <option value="">--Etat devis--</option>
                        <option value="nonpropose">Non proposé</option>
                        <option value="attenteretourclient">Attente retour client</option>
                        <option value="valide">Validé</option>
                        <option value="annule">Annulé</option>
                    </select><br>
                </div>
                <div>
                    <p> Est payé :</p>
                    <!-- OUI -->
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="oui" name="paye">
                        <label class="form-check-label" for="oui">Oui</label>
                    </div>

                    <!-- NON -->
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="non" name="paye">
                        <label class="form-check-label" for="non">Non</label>
                    </div>
                </div>
                <div class="flex fullwidth marges">
                    <label for="devis_creation_date" class="flex flex1 flex_end pr">   Date de création du devis :</label>
                    <input type="date" class="flex flex1" id="devis_creation_date" name="devis_creation_date" value="{{ "now"|date("Y-m-d") }}" required>
                </div>
                <div id="notes" name="notes">
                        <label for="note">NOTES : </label>
                        <!--<input id="note" name="note" type="textarea">-->
                        <div id="editor"></div>
                </div>
            </form>

             <form id="partie_finitions" name="partie_finitions">
                <div class="flex fullwidth marges">
                    <label for="choix_gamme">Sélection d'une gamme :</label><br>
                    <select id="choix_gamme" name="choix_gamme">
                        <option value="">--Gamme--</option>
                        <option value="Nature">Nature</option>
                        <option value="Luxe">Luxe</option>
                        <option value="Ecologique">Ecologique</option>
                        <option value="DéveloppementDurable">Développement durable</option>
                        <option value="EconomieEnergie">Economie d'énergie</option>
                    </select><br>
                </div>
                <div class="flex flex_col">
                    <h5>Ajustement des finitions de la gamme choisie :</h5>
                    <div class="flex fullwidth marges">
                        <label for="isolant_toit" >Isolant toit</label><br>
                        <select id="isolant_toit" name="isolant_toit" class=>
                        <option value="">--Isolant toit--</option>
                        <option value="Chanvre">Chanvre</option>
                        <option value="LaineVerre">Laine de verre</option>
                        <option value="CotonNaturel">Coton naturel</option>
                        <option value="LaineMouton">Laine de mouton</option>
                        <option value="PlastiqueRecycle">Plastique recyclé</option>
                        </select><br>
                    </div>
                    <div class="flex fullwidth marges">
                        <label for="couverture">Couverture</label><br>
                        <select id="couverture" name="couverture">
                            <option value="">--Couverture--</option>
                            <option value="Ardoise">Ardoise</option>
                            <option value="TuileArgile">Tuile argile</option>
                            <option value="TuileRomaine">Tuile romaine</option>
                            <option value="Zinc">Zinc</option>
                        </select><br>
                    </div>
                    <div class="flex fullwidth marges">
                        <label for="isolants_murs">Isolant murs exterieurs</label><br>
                        <select id="isolants_murs" name="isolants_murs">
                            <option value="">--Isolants_murs--</option>
                            <option value="LaineVerre">Laine de verre</option>
                            <option value="LaineRoche">Laine de roche</option>
                            <option value="LaineNaturelle">Laine naturelle</option>
                            <option value="ComposantRecycle">Composant recyclé</option>
                        </select><br>
                    </div>
                    <div class="flex fullwidth marges">
                        <label for="finition_exterieure">Finition extérieure</label><br>
                        <select id="finition_exterieure" name="finition_exterieure">
                            <option value="">--Finition_exterieure--</option>
                            <option value="CrépisBlanc">Crépis blanc</option>
                            <option value="CrépisCouleur">Crépis couleur</option>
                            <option value="BoisBrut">Bois brut</option>
                            <option value="BetonCire">Béton ciré</option>
                        </select><br>
                    </div>
                </div>
             </form>

            <div id="detail_modules" name="detail_modules">
                <div>
                    <p>Module 1 : 12,56m² - 2355,00€</p>
                        <ul>
                            <li>Composant1 - 2 unités - 45,00€</li>
                            <li>Composant2 - 154 unités - 1045,00€</li>
                            <li>Composant3 - 35 unités - 445,00€</li>
                            <li>Composant4 - 68 unités - 886,00€</li>
                        </ul>
                </div>
                <div>
                    <p>Module 2 : 12,56m² - 2355,00€</p>
                    <ul>
                        <li>Composant1 - 2 unités - 45,00€</li>
                        <li>Composant2 - 154 unités - 1045,00€</li>
                        <li>Composant3 - 35 unités - 445,00€</li>
                        <li>Composant4 - 68 unités - 886,00€</li>
                    </ul>
                </div>
                <div>
                    <p>Module 3 : 12,56m² - 2355,00€</p>
                    <ul>
                        <li>Composant1 - 2 unités - 45,00€</li>
                        <li>Composant2 - 154 unités - 1045,00€</li>
                        <li>Composant3 - 35 unités - 445,00€</li>
                        <li>Composant4 - 68 unités - 886,00€</li>
                    </ul>
                </div>
                <div>
                    <p>Module 4 : 11,56m² - 2355,00€</p>
                    <ul>
                        <li>Composant1 - 2 unités - 45,00€</li>
                        <li>Composant2 - 154 unités - 1045,00€</li>
                        <li>Composant3 - 35 unités - 445,00€</li>
                        <li>Composant4 - 68 unités - 886,00€</li>
                    </ul>
                </div>
            </div>

            <div id="bilan_devis">
                <p>Tous les prix dans le corps du devis sont exprimés hors taxes (HT) - TVA en vigueur : 20%</p>
                <p>Total devis HT : 125 059,00 €</p>
                <p id="prix_final">Total devis TTC : 148 647,00 € </p>
            </div>
{#                <div>#}
{#                    <label for="chantier_name" class="flex flex1 flex_end pr">Nom :</label>#}
{#                    <input type="text" class="flex flex1" placeholder="Nom du chantier" name="chantier_name" value="Chantier finitions Nature - Personnalisé">#}
{#                </div>#}
{#                <div class="flex fullwidth marges">#}
{#                    <label for="project_creation_date" class="flex flex1 flex_end pr">   Date de création du projet :</label>#}
{#                    <input type="text" class="flex flex1" placeholder="jj/mm/aaaa" id="project_creation_date" name="project_creation_date" value="{{ "now"|date("Y-m-d") }}" required>#}
{#                </div>#}
{#                <div>#}
{#                    <input type="checkbox" checked data-toggle="toggle">#}
{#                </div>#}

            </form>
            <div class="flex flex_col fullwidth marges">
                <button type="submit" class="marges btn_vert" id="valid_creation_devis" name="valid_creation_devis">Créer le devis</button>
            </div>
            </form>

        </div>



    </div>
{% endblock %}

{% block javascripts %}


    <script>
        $(function(){

            ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {
                console.error( error );
            });
        });

    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
{% endblock %}