{% extends 'gestion_devis/template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/flex.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/general_css.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/chantiers/afficherPlan.css') }}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/devis/creerNouveauDevis.css') }}" media="all"/>
{% endblock %}

{% block contenu %}
    <p class="filAriane">
        <a href="{{ path('afficherClient', {id: Client.idclient}) }}">
            <i class="fas fa-user-tie"></i>&nbsp;{{ Client.nom }}
        </a>
        &nbsp;>&nbsp;
        <a href="{{ path('visualiserProjet', {id: Projet.idprojet}) }}">
            <i class="fas fa-project-diagram"></i>&nbsp;{{ Projet.nom }}
        </a>
        &nbsp;>&nbsp;
        <a href="{{ path('afficherPlan', {idChantier: Chantier.idchantier}) }}">
            <i class="fas fa-shapes"></i>&nbsp;{{ Chantier.nom }}
        </a>
        &nbsp;>&nbsp;
        <strong>
            <i class="fas fa-file-contract"></i>&nbsp;{{ Devis.nom }}
        </strong>
    </p>
    <div class="bandeau_titre">
        <div class="bandeau_bloc">
            {#            <i class="fas fa-project-diagram"></i>#}
{#            <i class="fas fa-shapes"></i>#}
            <i class="fas fa-file-contract"></i>
            <div class="bandeau_bloc_titres">
                <p>Devis</p>
                <p>{{ Devis.nom }}</p>
            </div>
        </div>
        <div class="bandeau_bloc">
            <button class="btn_vert" form="form_creation_devis" style="margin-right: 1rem">Enregistrer</button>
            <a class="btn_vert" href="#">Générer un PDF</a>
        </div>
    </div>




    
    <div id="wrapper_creation_chantier" class="flex flex_aic flex_sa">

        <div id="recap_infos_projet_chantier" class="flex flex1 flex_col flex_sa">
            <h5>Références du projet / chantier</h5>
            <div id="id_projet" name="id_projet">Projet n°3</div>
            <div id="id_chantier" name="id_chantier">Chantier n°1</div>
            <div id="nom_client" name="nom_client">Monsieur Silva</div>
            <div id="lieu_projet" name="lieu_projet">Lieu : Bordeaux</div>
            <div id="date_creation_projet" name="date_creation_projet">Date de création : 01/01/2021</div>
            <div id="nom_vendeur" name="nom_vendeur">Commercial : Tomasi</div>
        </div>

        <div id="div_creation_devis" class="flex flex4 flex_col">

            <form id="form_creation_devis" action="{{ path('save_devis', {iddevis: Devis.iddevis}) }}" method="post" class="flex flex4 flex_col">
            <div id="infos_devis">
<div class="row">
    <div class="col-6">
        <div class="flex fullwidth marges">
            <label for="nom_devis">Nom du devis : </label><br>
            <input type="text" id="nom_devis" name="nom_devis" value="{{ Devis.nom }}">
        </div>
        <div class="flex fullwidth marges">
            <label for="etat">Etat du devis : </label><br>
            <select id="etat" name="etat">
                <option value="nonpropose" {% if Devis.etat == "Non proposé" %}selected{% endif %}>Non proposé</option>
                <option value="attenteretourclient" {% if Devis.etat == "Attente retour client" %}selected{% endif %}>Attente retour client</option>
                <option value="valide" {% if Devis.etat == "Validé" %}selected{% endif %}>Validé</option>
                <option value="annule" {% if Devis.etat == "Annulé" %}selected{% endif %}>Annulé</option>
            </select><br>
        </div>
        <div class="flex fullwidth marges">
            <label for="devis_creation_date" class="flex pr">   Date de création du devis : </label>
            <input type="date" class="flex" id="devis_creation_date" name="devis_creation_date" value="{{ Devis.datecreation|date("Y-m-d") }}" disabled>
        </div>
    </div>
    <div class="col-6">
        <div class="flex fullwidth marges">
            <label for="nom_devis">Taux de TVA (en %) : </label><br>
            <input type="number" name="tauxTVA_devis" value="{{ Devis.tauxtva }}">
        </div>
        <div class="flex fullwidth marges">
            <label for="nom_devis">Remise (en €) : </label><br>
            <input type="number" name="remise_devis" value="{{ Devis.remise }}">
        </div>
        <div>
            <!-- OUI -->
            <div class="form-check form-check-inline">
                <p style="margin-right: 1rem"> Est payé :</p>
                <input type="radio" class="form-check-input" id="oui" name="paye_oui" {% if Devis.estpaye %}checked{% endif %}>
                <label class="form-check-label" for="oui">Oui</label>
            </div>

            <!-- NON -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="non" name="paye_non" {% if Devis.estpaye == false %}checked{% endif %}>
                <label class="form-check-label" for="non">Non</label>
            </div>
        </div>
    </div>
</div>


                <div id="notes" name="notes" style="margin-top: 1rem">
                        <label for="note">NOTES : </label>
                        <textarea name="notes" id="editor">
                            {{ Devis.notes }}
                        </textarea>
                </div>
            </div>

                <style>
                    input{
                        margin-left: 15px;
                        padding-left: 5px !important;
                    }
                </style>


            <div id="partie_finitions" name="partie_finitions">
                <div class="flex fullwidth marges">
                    <label for="choix_gamme">Sélection d'une gamme :</label><br>
                    <select id="choix_gamme" name="choix_gamme">
                        {% for gamme in Gammes %}
                            <option value="{{ gamme.idgamme }}" {% if gamme.idgamme == Devis.idgamme %}selected{% endif %}>{{ gamme.nom }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div class="flex flex_col">
                    <h5>Ajustement des finitions de la gamme choisie :</h5>
                    {% for finition in Finitions %}
                    <div class="flex fullwidth marges">
                        <label for="finition_{{ finition['typeVariant'].idtypesvariant }}" >{{ finition['typeVariant'].nom }}</label><br>
                        <select name="finition[]">
                            {% for optionVariant in finition['optionsVariants'] %}
                                <option value="{{ optionVariant['variant'].idvariant }}"
                                        {% if optionVariant['selected'] %}selected{% endif %}>
                                    {{ optionVariant['variant'].nom }}
                                </option>
                            {% endfor %}
                        </select><br>
                    </div>
                    {% endfor %}
                </div>
             </div>
            </form>

            <div id="detail_modules">
                <div style="display: flex; flex-flow: row wrap; justify-content: space-between">
                    <h5>Recap complet</h5>
                    <button class="btn_vert" form="form_creation_devis" style="height: 2rem;">Actualiser</button>
                </div>
                {% for module in Modules %}
                    <div>
                        <p>
                            Nom : {{ module['Module'].nom }} - {{ module['Longueur'] }}{{ module['Module'].unite }} - {{ module['Prix'] }}€
                            <i> (Base : {{ module['Module'].qteunite }}{{ module['Module'].unite }})</i>
                        </p>
                        <ul>
                            {% for composant in module['Composants'] %}
                                <li>
                                    Nom : {{ composant['Composant'].nom }} - Qte : {{ composant['QuantiteCalc'] }} - {{ composant['Prix'] }}€
                                    <i> (Réf : Pour {{ module['Module'].qteunite }}{{ module['Module'].unite }}, il en faut {{ composant['Quantite'] }} ({{ composant['Composant'].prix }}€ à l'unité))</i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

            <div id="bilan_devis" style="text-align: right">
                <i>*Tous les prix dans le corps du devis sont exprimés hors taxes (HT)</i>
                <p>Total devis HT : {{ TotalHT }}€</p>
                <p>Taux TVA : {{ Devis.tauxtva }}%</p>
                <strong>Total devis TTC : <strong style="font-size: 1.3rem">{{ TotalTTC }}€ </strong></strong>
            </div>
        </div>



    </div>
{% endblock %}

{% block javascripts %}


    <script>
        $(function(){

            ClassicEditor.create( document.querySelector( '#editor' ) ).catch( error => {
                console.error( error );
            });
        });

    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
{% endblock %}