{% extends 'base.html.twig' %}

{% block title %}Pyramide - Gestion de devis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/nav_gestion_devis.css') }}" media="all"/>
{% endblock %}
{% block body %}

    {% include "base/header.html.twig" %}


    <nav class="bg-secondary row" style="border-bottom: 2px #DDD solid">
        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-light btn-outline-dark mr-3 ml-0 text-left"
                        style="border-radius: 0 !important; border-color: transparent; width: 10rem"
                        onclick="location.href = '{{ path('base-appSelection') }}'"
                        onmouseenter="document.getElementById('appNom').innerText = ' APPS'"
                        onmouseleave="document.getElementById('appNom').innerText = ' COMMERCIAL'">
                    <i> </i>
                    <i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i>
                    <i id="appNom" class="m-0"> COMMERCIAL</i>
                </button>
            </li>
            <li id="dashboard" class="btn-menu nav-item"><a class="btn btn-secondary btn-outline-success" href="{{ path('gestion_devis') }}" style="border-radius: 0 !important;color: white; border-color: transparent">
                    Dashboard</a></li>
            <li  class="nav-item dropdown">
                <button class="btn btn-secondary btn-outline-success dropdown-toggle" style="border-radius: 0 !important;color: white; border-color: transparent" data-toggle="dropdown">
                    Projets</button>
                <div class="dropdown-menu">
                    <a id="projet_encours" class="btn-menu dropdown-item" href="{{ path('enCours') }}"><i class="fas fa-project-diagram"></i> En cours</a>
                    <a class="dropdown-item" href="{{ path('archives') }}"><i class="fas fa-archive"></i> Archivés</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('creerNouveau') }}"><i class="fas fa-plus-circle"></i> Créer un nouveau</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-secondary btn-outline-success dropdown-toggle" style="border-radius: 0 !important;color: white; border-color: transparent" data-toggle="dropdown">
                    Chantiers</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('enCoursUsername') }}"><i class="fas fa-paint-roller"></i> En cours (<i>Username</i>)</a>
                    <a class="dropdown-item" href="{{ path('enCoursTous') }}"><i class="fas fa-paint-roller"></i> En cours (Tous)</a>
                    <a class="dropdown-item" href="{{ path('archivesChantiers') }}"><i class="fas fa-archive"></i> Archivés</a>
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="{{ path('creerNouveauChantier') }}"><i class="fas fa-plus-circle"></i> Créer un nouveau</a>#}
                </div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-secondary btn-outline-success dropdown-toggle" style="border-radius: 0 !important;color: white; border-color: transparent" data-toggle="dropdown">
                    Devis</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('devisEnAttente') }}"><i class="fas fa-file-invoice"></i> En attentes</a>
                    <a class="dropdown-item" href="{{ path('devisArchives') }}"><i class="fas fa-archive"></i> Archivés</a>
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="{{ path('creerNouveauDevis') }}"><i class="fas fa-plus-circle"></i> Créer un nouveau</a>#}
                </div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-secondary btn-outline-success dropdown-toggle" style="border-radius: 0 !important;color: white; border-color: transparent" data-toggle="dropdown">
                    Clients</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('afficherListeClients') }}"><i class="fas fa-id-card"></i></i> Afficher Clients</a>
{#                    <a class="dropdown-item" href="{{ path('afficherEntreprises') }}"><i class="far fa-building"></i> Afficher Entreprises</a>#}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('creerNouveauContact') }}"><i class="fas fa-id-card"></i> Nouveau Client</a>
{#                    <a class="dropdown-item" href="{{ path('creerNouvelleEntreprise') }}"><i class="far fa-building"></i> Nouvelle Entreprise</a>#}
                </div>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-secondary btn-outline-success dropdown-toggle" style="border-radius: 0 !important;color: white; border-color: transparent" data-toggle="dropdown">
                    Outils</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('notesRapides') }}"><i class="far fa-sticky-note"></i> Notes rapides</a>
                    <a class="dropdown-item" href="{{ path('prixModules') }}"><i class="fas fa-receipt"></i> Prix module</a>
                </div>
            </li>
        </ul>
    </nav>

    {% block contenu %}{% endblock %}



{% endblock %}


    {% block javascripts %}
        <script src="{{ asset('js/nav_gestion_devis.js') }}"></script>
    {% endblock %}
